/* Variables */
:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-white: #FFFFFF;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --yellow: #FFC047;
  --error: #BA2732;
  --dark-blue: #32425C;
  --header-top: #293449;
  --black: #000000;
  --white-opacity: rgba(255, 255, 255, 0.5);
  --white-opacity-slogan: rgba(255, 255, 255, 0.3);
  --basic-greylight-opacity: rgba(197, 197, 197, 0.3);
  --slider-shadow: rgba(0, 0, 0, 0.25);
  --product-shadow: rgba(0, 0, 0, 0.15);
  --grey-extra-light: #A9A9A9;
  --grey-extra-light-opacity: rgba(169, 169, 169, 0.3);
  --pinklight: #F9F5F0;
  --dark-green: #518534;
  --light-blue: #F2F6F8;
  --light-grey: #E5E5E5;
  --extra-dark-blue: #212A3A;
  --filter-color: #F7F3EC;
  --scale: #D7DCDE;
  --bar: #00ca74;
  --toggle: #ababab;
  --toggle-shadow: #cfcfcf;
  --trait: #444444;
  --product-border: #EAEAEA;
  --slider-shadow: hsla(0, 0%, 10%, 0.2);
  --checkbox-hover: #B5B5B5;
  --service-slider-shedow: #405069;
  --footer-adress: #F3F7F9;
  --special: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  --add-shadow: #367315;
  --filter-strip: rgba(0, 0, 0, 0.1);
  --modal-footer: #F4F4F4;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Global */

body {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-navigation {
  background-color: var(--basic-background);
  padding-bottom: 60px;
}

.header-top {
  background-color: var(--header-top);
}

.main-header-logo {
  background-color: var(--basic-red);
  height: 42px;
  width: 220px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 55px;
  padding-right: 57px;
  box-shadow: 0 5px 0 0 var(--error);
}

.main-header-logo img {
  display: block;
  margin: 0 auto;
}

.search {
  position: relative;
  display: block;
  padding-left: 17px;
}

.search p {
  padding-left: 25px;
  color: var(--basic-white);
  width: 45px;
  height: 24px;
  margin: 0;
  font-size: 18px;
}

.search::before {
  display: block;
  content: "";
  position: absolute;
  top: 4px;
  width: 17px;
  height: 17px;
  background-image: url(../img/search-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.search:hover::before {
  opacity: 1;
  transition: all 0.3s;
}

.user-list {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  position: relative;
}

.user-list a {
  color: inherit;
}

.order {
  background-color: var(--basic-green);
  transition: all 0.3s;
  padding-top: 9px;
  padding-bottom: 9px;
  margin-left: 7px;
  display: block;
  height: 100%;
  text-align: center;
}

.order:hover {
  background-color: var(--success);
}

.order:active {
  color: var(--white-opacity);
  background-color: var(--basic-green);
}

.user-list-link:active {
  color: var(--white-opacity);
  transition: 0.3s;
}

.bookmark {
  padding: 0;
  display: block;
  padding-top: 9px;
  padding-left: 62px;
}

.bookmark::before {
  display: block;
  content: "";
  position: absolute;
  top: 13px;
  left: 40px;
  width: 14px;
  height: 16px;
  background-image: url(../img/bookmark-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-tel {
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  border: solid 3px var(--basic-white);
  display: block;
  width: 270px;
  height: 45px;
  padding-top: 7px;
  padding-bottom: 8px;
  padding-left: 69px;
  padding-right: 41px;
  margin-top: 10px;
  text-align: center;
  position: relative;
}

.header-tel::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 35px;
  width: 19px;
  height: 19px;
  background-image: url(../img/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--dark-blue);
  padding: 0;
  margin: 0;
  padding-top: 5px;
  margin-bottom: 39px;
  padding-left: 10px;
}

.login-button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.login-button ul {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  margin-top: 10px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.login-button li:first-child {
  margin-right: 10px;
}

.login-button a {
  color: inherit;
  padding: 5px;
  margin-bottom: 20px;
  text-align: center;
  display: flex;
  height: 45px;
  align-items: center;
  justify-content: center;
}

.login-button .login-link {
  padding-left: 25px;
  width: 120px;
}

.login-link {
  background-color: var(--basic-white);
  transition: all 0.3s;
  display: block;
  position: relative;
}

.login-link-svg {
  position: absolute;
  top: 16px;
  left: 17px;
  color: var(--basic-greylight);
  transition: all 0.3s;
}

.login-link:hover .login-link-svg {
  color: var(--dark-blue);
  transition: all 0.3s;
}

.login-link:active .login-link-svg {
  color: var(--basic-greylight);
  transition: all 0.3s;
}

.login-link:hover {
  color: var(--basic-red);
}

.login-link:active {
  color: var(--basic-greylight);
}

.login-button .sign-up {
  width: 150px;
}

.sign-up {
  background-color: var(--basic-white);
  transition: all 0.3s;
  display: block;
}

.sign-up:hover {
  color: var(--basic-red);
}

.sign-up:active {
  color: var(--basic-greylight);
}

.people {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  margin-top: 10px;
  margin-bottom: 31px;
  padding: 0;
  padding-left: 11px;
  padding-bottom: 7px;
  list-style: none;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.people a {
  text-align: center;
}

.people-link {
  background-color: var(--basic-white);
  position: relative;
  width: 263px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-bottom: 12px;
}

.exit-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--basic-white);
  width: 36px;
}

.user {
  display: block;
  color: var(--black);
  padding-left: 56px;
  padding-top: 12px;
}

.user-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  color: var(--basic-greylight);
  transition: all 0.3s;
  transform: translateY(-50%);
}

.exit {
  display: block;
  position: relative;
  width: 21px;
  height: 100%;
  background-color: var(--basic-white);
  padding-top: 15px;
}

.logout-icon {
  /*position: absolute;
  top: 14px;
  right: 17px;*/
  color: var(--basic-greylight);
  transition: all 0.3s;
}

.user:hover .user-icon,
.exit:hover .logout-icon {
  color: var(--dark-blue);
  transition: all 0.3s;
}

.user:active .user-icon,
.exit:active .logout-icon,
.user:active {
  color: var(--basic-greylight);
  transition: all 0.3s;
}

.personal-link {
  flex-grow: 1;
}

.personal {
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-blue);
  margin: 0;
  padding: 0;
  list-style: none;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  justify-content: center;
  padding-top: 7px;
}

.personal a {
  color: inherit;
  padding: 0 16px;
  list-style: none;
  display: block;
}

.personal::after {
  content: "";
  position: absolute;
  top: 16px;
  left: 132px;
  transform: translateY(-50%);
  display: block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--dark-blue);
}

.personal:hover::after {
  background-color: var(--basic-red);
}

.orders:hover,
.account:hover {
  color: var(--basic-red);
  transition: 0.3s;
}

.orders:active,
.account:active {
  color: var(--basic-greylight);
  transition: 0.3s;
}

.site-navigation {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  list-style: none;
  background-color: var(--dark-blue);
  transition: all 0.3s;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-shadow: inset 0px -5px 0px var(--header-top);
}

.site-navigation-link {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: inherit;
  padding: 17px 24px;
  display: block;
}

.site-navigation li:first-child {
  padding-left: 30px;
}

.site-navigation li:last-child {
  padding-right: 30px;
}

.site-navigation-link:hover {
  background-color: var(--header-top);
  transition: 0.3s;
}

.site-navigation-link:active {
  background-color: var(--header-top);
  color: var(--white-opacity);
  transition: 0.3s;
}

.catalog-title {
  background-color: var(--light-blue);
}

.top-catalog {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--dark-blue);
  text-transform: uppercase;
  padding-top: 29px;
  padding-bottom: 30px;
  padding-left: 29px;
}

.catalog {
  display: grid;
  grid-template-columns: 220px 700px;
  grid-column-gap: 20px;
  padding-bottom: 58px;
  padding-top: 23px;
}

.bread-crumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 15px;
}

.bread-crumbs a {
  font-size: 13px;
  line-height: 18px;
  font-family: PT Sans;
  color: var(--black);
  text-transform: uppercase;
  font-weight: 400;
}

.bread-crumbs li {
  position: relative;
  padding-right: 41px;
}

.bread-crumbs li::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 12px;
  top: 3px;
  right: 15px;
  background-image: url(../img/icon-right-small.svg);
}

.bread-crumbs li:last-child::after {
  display: none;
}

.slogan-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slogan-list h3 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  margin: 0;
  margin-bottom: 14px;
}

.slogan-item {
  position: relative;
}

.slogan-item a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
  background-color: var(--white-opacity-slogan);
  transition: 0.3s;
  padding: 10px 5px;
  text-transform: uppercase;
  display: block;
  width: 135px;
  text-align: center;
}

.slogan-item a:hover {
  background-color: var(--basic-greylight-opacity);
  color: var(--basic-white);
}

.slogan-item a:active {
  background-color: var(--grey-extra-light-opacity);
  color: var(--basic-white);
}

.slogan-item-spyellow {
  background-color: var(--special-yellow);
}

.materials {
  background-image: url(../img/paint-can-icon.svg);
  background-size: 44px, 65px;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: 83% 52%;
  padding-right: 90px;
}

.slogan-item-blue {
  background-color: var(--special-blue);
}

.tool {
  background-image: url(../img/drill.svg);
  background-size: 75px, 61px;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: 86% 53%;
  padding-right: 110px;
}

.tractor {
  background-image: url(../img/tractor-icon.svg);
  background-size: 78px, 62px;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: 86% 50%;
  padding-right: 110px;
}

.big-cart {
  background-image: url(../img/big-cart-icon.svg);
  background-size: 59px, 72px;
  background-position: 81% 50%;
  padding: 20px;
  background-repeat: no-repeat;
  padding-right: 100px;
  grid-column-start: 3;
  grid-column-end: 4;
}

.car {
  background-image: url(../img/car.svg);
  background-size: 78px, 63px;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: 86% 53%;
  padding-right: 110px;
}


.slogan-item-lilac {
  background-color: var(--special-lilac);
}

.slogan-item-green {
  background-color: var(--special-greenlight);
}

.slogan-item-yellow {
  background-color: var(--yellow);
}

.slider {
  height: 100%;
}

.advantages-slider {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  background-color: var(--basic-background);
  /* ЦВЕТ И ПРОЗРАЧНОСТЬ!!!*/
}

.slide {
  display: none;
  height: 100%;
}

.slide-current {
  display: block;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--grey-extra-light);
  height: 100%;
}

.slider li {
  list-style: none;
}

.slogan-list .man-slider {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: var(--basic-white);
  margin: 0;
  padding-top: 23px;
  padding-left: 24px;
}

.slider-p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-white);
  margin: 0;
  padding-top: 5px;
  padding-left: 24px;
}

.perforator {
  background: url(../img/perforator-slider.jpg);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.drill {
  background: url(../img/drill-slider.jpg);
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.section-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 14px;
  background-color: var(--pinklight);
  padding-left: 29px;
  align-items: center;
  position: relative;
}

.section-header-title {
  margin: 0;
  font-weight: 400;
  color: var(--dark-blue);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.top-product {
  padding-bottom: 10px;
}

.red-button {
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  display: inline-block;
  padding: 11px 46px 9px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
  text-align: center;
}

.man-slider-button {
  margin-top: 98px;
  margin-left: 24px;
}

.top-button {
  padding: 11px 24px 9px;
  width: 192px;
}

.product-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: PT Sans;
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-template-rows: 318px;
  grid-gap: 20px;
  padding-top: 22px;
  padding-bottom: 62px;
}

.product-list-inner {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: PT Sans;
  display: grid;
  grid-template-columns: 220px 220px 220px;
  grid-template-rows: 318px;
  grid-gap: 20px;
}

/*НАЗВАНИЕ КЛАССА ПОМЕНЯТЬ*/
.abс {
  position: relative;
}

.new-price {
  margin: 0;
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  width: 141px;
  padding: 10px 44px 10px 32px;
  background-image: url(../img/price-button.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

/*.new-price::after {
  display: block;
  content: "";
  position: absolute;
  top: 25px;
  left: 45px;

  height: 38px; 
  
  background-position: 0 0;
}*/

.product-item {
  border: 1px solid var(--product-border);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 21px;
  transition: all 0.3s ease;
}

.product-item-picture {
  order: 1;
  height: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 12px;
}

.product-item-picture img {
  max-width: 100%;
  height: auto;
}

.product-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.BOSCH-9000 {
  padding-top: 2px;
  padding-right: 0;
}

.product-item h3 {
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
  font-family: PT Sans;
  padding: 0;
  order: 2;
  padding-top: 7px;
}

.product-item-title {
  margin: 0;
  margin-bottom: 10px;
}

.product-item-title a {
  color: var(--black);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.product-item-links {
  order: 3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-color: var(--basic-white);
  padding-top: 36px;
  padding-bottom: 50px;
  transition: all 0.3s ease;
}

.product-item-prices {
  order: 4;
  padding-left: 15px;
}

.product-item p {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.product-item:hover .product-item-links {
  opacity: 1;
}

.product-item:hover {
  box-shadow: 0px 4px 20px var(--product-shadow);
}

.brand-item:hover {
  box-shadow: 0px 4px 20px var(--product-shadow);
}

.new::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 70px;
  height: 70px;
  background-image: url(../img/new.png);
  background-size: cover;
  display: block;
}

.price {
  font-size: 17px;
  line-height: 18px;
  color: var(--grey-extra-light);
  padding: 0;
  margin: 0;
  margin-bottom: 13px;
}

.price del {
  padding-right: 10px;
}

.cart {
  padding: 0;
  display: block;
  position: relative;
  padding-top: 9px;
  padding-left: 62px;
}

.catalog-cart {
  background-color: var(--basic-red);
}

.cart::before {
  display: block;
  content: "";
  position: absolute;
  top: 13px;
  left: 40px;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  transition: all 0.3s;
}

.cart:hover::before,
.bookmark:hover::before {
  opacity: 1;
  transition: all 0.3s;
}

.cart:active::before,
.bookmark:active::before {
  opacity: 0.3;
  transition: all 0.3s;
}

.add-cart {
  background-color: var(--basic-green);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  transition: all 0.3s;
  padding: 8px 15px;
  position: relative;
  width: 135px;
  margin: 0 auto;
  margin-bottom: 10px;
  position: relative;
  box-shadow: inset 0px -3px 0px var(--add-shadow);
  border-radius: 2px;
  z-index: 2;
}

.add-cart::before {
  display: block;
  content: "";
  position: absolute;
  top: 10px;
  left: 15px;
  width: 15px;
  height: 15px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
  transition: all 0.3s;
}

.add-cart:hover {
  background-color: var(--success);
  color: var(--basic-white);
}

.add-cart:active {
  background-color: var(--dark-green);
  color: var(--basic-white);
}

.add-bookmark {
  color: var(--dark-blue);
  font-size: 14px;
  line-height: 18px;
  border: 3px solid;
  border-color: var(--basic-green);
  transition: all 0.3s;
  padding: 8px 15px;
  width: 135px;
  margin: 0 auto;
  border-radius: 2px;
}

.add-bookmark:hover {
  border-color: var(--dark-blue);
}

.add-bookmark:active {
  border-color: var(--dark-blue);
  opacity: 0.5;
}

.brand-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-gap: 20px;
  padding-top: 22px;
  padding-bottom: 70px;
}

.brand-item {
  width: 220px;
  height: 145px;
  padding-top: 5px;
}

.brand-list li {
  border: 1px solid var(--product-border);
  display: flex;
  justify-content: center;
  align-items: center;
}

.service {
  background-color: var(--basic-background);
  padding: 0;
  margin: 0;
  padding-bottom: 29px;
}

.service h2 {
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  color: var(--black);
  padding-top: 67px;
  font-weight: 400;
  text-transform: uppercase;
}

.service p {
  padding: 0;
  margin: 0;
  font-weight: 400;
  color: var(--black);
  font-family: PT Sans;
  padding-top: 22px;
}

.advantages {
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  position: relative;
  align-self: start;
  width: 240px;
  padding-top: 72px;
  padding-bottom: 72px;
}

/********** Shadow **************/
.advantages:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 100%;
  top: 5px;
  bottom: 5px;
  width: 24px;
  border-radius: 50%;
  box-shadow: -7px 0 3px 0px var(--slider-shadow);
}

/********************************/

.slider-tab {
  box-sizing: border-box;
  display: block;
  padding: 16px 23px;
  font-weight: 700;
  color: var(--basic-white);
  text-decoration: none;
  background-color: var(--dark-blue);
  box-shadow: 0px 1px 0px var(--header-top), inset 0px 1px 0px var(--service-slider-shedow);
  position: relative;
}

.delivery {
  background-image: url(../img/delivery.svg);
  background-repeat: no-repeat;
  background-position: 231px 93px;
}

.guarantee {
  background-image: url(../img/guarantee.svg);
  background-repeat: no-repeat;
  background-position: 318px 70px;
}

.credit {
  background-image: url(../img/credit.svg);
  background-repeat: no-repeat;
  background-position: 235px 70px;
}

.credit .red-button {
  margin-top: 26px;
  margin-left: 29px;
  border-radius: 5px;
}

.slider-tab:hover {
  background-color: var(--basic-white);
  color: var(--dark-blue);
}

.slider-content {
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  width: 700px;
}

.slider-item {
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  width: 400px;
  min-height: 100%;
  padding: 30px 50px;
  background-color: var(--basic-background);
  width: 100%;
}

.slider-item:target {
  z-index: 10;
}

.slider-item h3 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  padding-left: 30px;
  padding-top: 40px;
  font-weight: 400;
}

.slider-item p {
  padding-left: 30px;
  padding-top: 30px;
}

.finish {
  padding-bottom: 60px;
}

.about {
  display: grid;
  grid-template-columns: 600px 300px;
  grid-gap: 40px;
  padding-top: 70px;
}

.info h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--black);
  padding-bottom: 10px;

}

.info p {
  margin: 0;
  color: var(--black);
  font-family: PT Sans;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  margin-right: 120px;
}

.info p:first-of-type {
  padding-bottom: 26px;
  padding-top: 12px;
}

.info .red-button {
  padding: 11px 41px 9px;
}

.transport {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 5px;
}

.transport li {
  padding-left: 37px;
  padding-bottom: 11px;
  position: relative;
}

.transport li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 10px;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.contacts h2 {
  margin: 0;
  padding: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  padding-bottom: 10px;
  color: var(--black);
}

.contacts p {
  margin: 0;
  color: var(--black);
  font-family: PT Sans;
  font-size: 13px;
  line-height: 24px;
  padding-top: 12px;
  padding-bottom: 34px;
}

.contacts img {
  padding-bottom: 7px;
}

.contacts .red-button {
  width: 300px;
}

.final {
  background-color: var(--basic-background);
  padding-bottom: 70px;
  padding-top: 65px;
}

.final h3 {
  padding: 0;
  margin: 0;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--black);
  text-transform: uppercase;
  padding-bottom: 24px;
}

.final p {
  margin: 0;
  color: var(--black);
  font-family: PT Sans;
  font-weight: 400;
}

footer {
  background-color: var(--dark-blue);
}

.main-footer {
  display: grid;
  grid-template-columns: 327px 300px 313px;
  padding-bottom: 55px;
}

.footer-nav {
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  grid-row: 1/2;
}

.footer-nav li {
  margin-left: 59px;
}

.footer-nav,
.footer-services {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
  padding-top: 37px;
  font-weight: 400;
}

.footer-nav a {
  color: var(--basic-background);
  transition: all 0.3s;
}

.footer-nav a:hover {
  text-decoration-line: underline;
}

.footer-nav a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-address {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
}

.footer-services {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 2/3;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 19px;
  padding-left: 29px;
}

.footer-services li {
  margin-left: 59px;
}

.footer-services a {
  color: var(--special-yellowlight);
  transition: all 0.3s;
}

.footer-services a:hover {
  text-decoration-line: underline;
}

.footer-services a:active {
  opacity: 0.5;
  text-decoration: none;
}

.second-footer {
  background-color: var(--header-top);
  padding-bottom: 30px;
}

.connect-footer {
  color: var(--basic-background);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.connect-footer p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--basic-white);
  padding-top: 37px;
}

.feedback {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 14px;
}

.main-footer p {
  font-size: 18px;
  line-height: 24px;
  color: var(--footer-adress);
  margin: 0;
  font-weight: 400;
  padding-top: 14px;
  grid-column-start: 1;
  grid-column-end: 2;
  padding-left: 2px;
}

.footer-tel {
  color: var(--footer-adress);
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-top: 36px;
  padding-left: 75px;
}

.social-button {
  width: 41px;
  height: 41px;
  background-color: var(--extra-dark-blue);
  color: inherit;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 2px;
}

.social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.social-button:hover,
.social-button:focus,
.social-button:active {
  background-color: var(--basic-red);
}

.gold {
  color: var(--special-yellowlight);
  transition: all 0.3s;
}

.gold:hover {
  text-decoration-line: underline;
}

.gold:active {
  color: var(--basic-red);
  text-decoration: none;
}

.container {
  width: 980px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-top .container {
  display: grid;
  grid-template-columns: 220px 250px 470px;
  margin-bottom: 35px;
  align-items: center;
}

.slogan-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-template-rows: 123px 123px 123px;
  grid-gap: 20px;
  padding-bottom: 59px;
}

.slider-li {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  position: relative;
}

.header-info {
  display: grid;
  grid-template-columns: 300px 290px 310px;
  grid-gap: 20px;
}

.header-about {
  margin: 0;
  padding: 0;
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  font-style: italic;
  padding-left: 30px;
  margin-top: 10px;
}

.page-content {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 44px;
}

.pagination-item a {
  font-size: 13px;
  line-height: 18px;
  font-family: PT Sans;
  display: block;
  padding: 9px 15px;
  border: solid 1px var(--light-grey);
  color: var(--black);
  border-radius: 2px;
  background-color: var(--basic-white);
  text-transform: uppercase;
}

.pagination-item {
  margin-right: 9px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-item:last-child a {
  padding-left: 32px;
  padding-right: 31px;
}

.pagination-item-current a,
.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  background-color: var(--basic-red);
  border: solid 1px var(--basic-red);
  color: var(--basic-white);
}

.pagination-item a:hover,
.pagination-item a:focus {
  border: solid 1px var(--basic-greylight);
}

.pagination-item a:active {
  border: solid 1px var(--basic-red);
}

.communication {
  padding-right: 10px;
}

.developed {
  padding-left: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.slider-controls {
  position: absolute;
  bottom: 35px;
  left: 0;
  z-index: 20;
  display: flex;
  justify-content: flex-start;
  left: 50%;
  transform: translateX(-50%);
}

.slider-controls button {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  border: 2px solid var(--basic-white);
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
}

.slider-controls button:last-child {
  margin-right: 0;
}

.slider-controls .current {
  background-color: var(--basic-red);
}

.slider-text {
  background-color: var(--slider-shadow);
  padding-bottom: 16px;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
  position: relative;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 72px;
  right: 0px;
  width: 220px;
  height: 1px;
  background-color: var(--filter-strip);
}

.filter h2 {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  font-family: PT Sans;
  background-color: var(--filter-color);
  padding: 10px 151px 10px 20px;
  border-radius: 5px;
}

.sort {
  background-color: var(--filter-color);
  border-radius: 5px;
  margin-bottom: 27px;
}

.maker {
  position: relative;
}

.maker:after {
  content: "";
  position: absolute;
  top: 267px;
  right: 0px;
  width: 220px;
  height: 1px;
  background-color: var(--filter-strip);
}

.sort-list h2,
.sort-list a {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  color: inherit;
}

.sort-list {
  padding: 7px 19px;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.range-filter {
  width: 100%;
  padding-top: 11px;
  padding-bottom: 26px;
}

.filter-item legend {
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: bold;
}

.range-controls {
  position: relative;
  height: 80px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 23px;
  background-color: var(--filter-color);
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: var(--scale);
}

.range-controls .bar {
  width: 152px;
  height: 2px;
  background: var(--bar);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 16px;
  height: 16px;
  padding: 0;
  border: 7px solid var(--basic-white);
  background-color: var(--toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--toggle-shadow);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 23px;
}

.range-controls .toggle-max {
  left: 165px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 8px;
}

.price-controls label {
  text-transform: uppercase;
  font-family: PT Sans;
  font-size: 17px;
}

.price-controls input {
  font-family: inherit;
  font-size: inherit;
  width: 95px;
  text-align: center;
  color: var(--black);
  border: none;
  border-radius: 5px;
  background-color: var(--filter-color);
  position: relative;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.min-price::after {
  content: "";
  position: absolute;
  top: 28px;
  right: 102px;
  width: 9px;
  height: 1px;
  background-color: var(--trait);
}

.index-main {
  padding-top: 60px;
}

.catalog-main {
  padding-top: 21px;
}

.filter legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  font-family: PT Sans;
  padding-top: 16px;
  padding-left: 4px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 19px;
  padding-top: 18px;
  padding-bottom: 13px;
}

.filter-option {
  font-size: 15px;
  line-height: 19px;
  font-family: PT Sans;
  padding-left: 36px;
  padding-bottom: 20px;
  font-weight: 400;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-radio {
  padding-top: 4px;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url(../img/checkbox-off.svg);
}


.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 27px;
  height: 23px;
  background-image: url(../img/checkbox-on.svg);
}

.filter-input-radio:checked+label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-on.svg);
}

.filter-input-radio+label::after {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url(../img/radio-off.svg);
}

.slider-arrow {
  margin: 0;
  padding: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.slider-arrow button {
  padding: 0;
  width: 22px;
  height: 40px;
  position: absolute;
  background-color: transparent;
  cursor: pointer;
  margin-right: 10px;
  border: none;
  top: -142px;
}

.slider-arrow .slider-arrow-left {
  padding: 0;
  left: 24px;
  background-image: url(../img/icon-left.svg);
}

.slider-arrow .slider-arrow-right {
  left: 578px;
  background-image: url(../img/icon-right.svg);
}


/* Modal */

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: var(--basic-black);
  background-color: var(--basic-white);
  filter: drop-shadow(0px 4px 20px var(--product-shadow));
  display: none;
}

/* Modal close */

.modal-close {
  position: absolute;
  top: 15px;
  right: 9px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 2px;
  width: 19px;
  height: 3px;
  background-color: var(--basic-red);
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

/* Modal map */

.modal-map {
  width: 943px;
  height: 449px;
}

.modal-map img {
  display: block;
}

.modal-map iframe {
  border: none;
}

.modal-map::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 943px;
  height: 7px;
  background-color: var(--basic-red);
}

/* Modal write */
.modal-write {
  width: 620px;
  height: 430px;
}

.modal-write::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 620px;
  height: 7px;
  background-color: var(--basic-red);
}

.modal-write p {
  margin: 0;
}

.modal-window{
  margin: 0;
  padding: 0;
  padding-left: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
  font-size: 13px;
  line-height: 24px;
  width: 220px;
  height: 38px;
  color: var(--grey-extra-light);
}

.modal-window-comment{
  width: 460px;
  height: 114px;
  padding-bottom: 84px;
}

.modal-header {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

.modal-header {
  padding-bottom:11px;
}

.modal-comment {
  padding-top: 13px;
}

.modal-write-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-top: 46px;
  padding-bottom: 37px;
  display: flex;
  flex-wrap: wrap;
}

.modal-write-item {
  padding-left: 80px;
}

.modal-write-item:nth-child(2) {
  padding-left: 20px;
}

.modal-footer {
  width: 620px;
  height: 112px;
  background-color: var(--modal-footer);
}

.modal-input-button {
  width: 460px;
  height: 38px;
  margin: 37px 80px;
  border: none;
}