/* Variables */
:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-white: #FFFFFF;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --yellow: #FFC047;
  --error: #BA2732;
  --dark-blue: #32425C;
  --header-top: #293449;
  --black: #000000;
  --white-opacity: rgba(255, 255, 255, 0.5);
  --white-opacity-slogan: rgba(255, 255, 255, 0.3);
  --white2: rgba(0, 0, 0, 0.0001);
  --basic-greylight-opacity: rgba(197, 197, 197, 0.3);
  --grey-extra-light: #A9A9A9;
  --grey-extra-light-opacity: rgba(169, 169, 169, 0.3);
  --pinklight: #F9F5F0;
  --dark-green: #518534;
  --light-blue: #F2F6F8;

  --special: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

/* Global */

body {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-white);
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  background-color: var(--basic-background);
}

.header-top {
  background-color: var(--header-top);
}

.user-list {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-list a {
  color: inherit;
}

.order {
  background-color: var(--basic-green);
  transition: all 0.3s;
}

.order:hover {
  background-color: var(--success);
}

.order:active {
  color: var(--white-opacity);
  background-color: var(--basic-green);
}

.user-list-link:active {
  color: var(--white-opacity);
  transition: 0.3s;
}

.about {
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
}

.header-tel {
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: var(--dark-blue);
}

.login-button {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  margin: 0;
  padding: 0;
  list-style: none;
}

.login-button a {
  color: inherit;
}

.login-link {
  background-color: var(--basic-white);
  transition: all 0.3s;
}

.login-link:hover {
  color: var(--basic-red);
}

.login-link:active {
  color: var(--basic-greylight);
}

.sign-up {
  background-color: var(--basic-white);
  transition: all 0.3s;
}

.sign-up:hover {
  color: var(--basic-red);
}

.sign-up:active {
  color: var(--basic-greylight);
}

.people {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--basic-white);
}

.people a {
  color: inherit;
}

.user:active {
  color: var(--basic-greylight);
  transition: 0.3s;
}

.input:active {
  color: var(--basic-greylight);
  transition: 0.3s;
}

.personal {
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-blue);
  margin: 0;
  padding: 0;
  list-style: none;
}

.personal a {
  color: inherit;
}

.orders:hover {
  color: var(--basic-red);
  transition: 0.3s;
}

.orders:active {
  color: var(--basic-greylight);
  transition: 0.3s;
}

.account:hover {
  color: var(--basic-red);
  transition: 0.3s;
}

.account:active {
  color: var(--basic-greylight);
  transition: 0.3s;
}

.site-navigation {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--dark-blue);
  transition: all 0.3s;
}

.site-navigation a {
  color: inherit;
}

.site-navigation-link:hover {
  background-color: var(--header-top);
  transition: 0.3s;
}

.site-navigation-link:active {
  background-color: var(--header-top);
  color: var(--white-opacity);
  transition: 0.3s;
}

.top-catalog {
  background-color: var(--light-blue);
  font-size: 30px;
  line-height: 30px;
  color: var(--dark-blue);

}

.bread-crumbs {
  margin: 0;
  padding: 0;
  list-style: none;
}

.bread-crumbs a {
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
}

.slogan-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slogan-list h3 {
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.slogan-item a {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--white-opacity-slogan);
  transition: 0.3s;
}

.slogan-item a:hover {
  background-color: var(--basic-greylight-opacity);
  color: var(--basic-white);
}

.slogan-item a:active {
  background-color: var(--grey-extra-light-opacity);
  color: var(--basic-white);
}

.slogan-item-spyellow {
  background-color: var(--special-yellow);
}

.slogan-item-blue {
  background-color: var(--special-blue);
}

.slogan-item-lilac {
  background-color: var(--special-lilac);
}

.slogan-item-greenl {
  background-color: var(--special-greenlight);
}

.slogan-item-yellow {
  background-color: var(--yellow);
}

.advantages-slider {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  background-color: hsl(204 29% 97%);
  /* ЦВЕТ И ПРОЗРАЧНОСТЬ!!!*/
}


.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--grey-extra-light);
}

/*СЛАЙДЕР*/
.slider li {
  list-style: none;
}

.man-slider {
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-white);
}

.slider-p {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.top {
  background-color: var(--pinklight);
  color: var(--dark-blue);
  font-size: 30px;
  line-height: 30px;
}

.red-button {
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
}

.product-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: PT Sans;
}

.new-price {
  background-color: var(--basic-red);
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
}

.product-item h3 {
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
  font-family: PT Sans;
}

.price {
  font-size: 17px;
  line-height: 18px;
  color: var(--grey-extra-light)
}

.add-cart {
  background-color: var(--basic-green);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  transition: all 0.3s;
}

.add-cart:hover {
  background-color: var(--success);
  color: var(--basic-white);
}

.add-cart:active {
  background-color: var(--dark-green);
  color: var(--basic-white);
}

.add-bookmark {
  color: var(--dark-blue);
  font-size: 14px;
  line-height: 18px;
  border: 3px solid;
  border-color: var(--basic-green);
  transition: all 0.3s;
}

.add-bookmark:hover {
  border-color: var(--dark-blue);
}

.add-bookmark:active {
  border-color: var(--dark-blue);
  opacity: 0.5;
}

.brand-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.service {
  background-color: var(--basic-background);
}

.service h2 {
  font-size: 30px;
  line-height: 30px;
  color: var(--black);
}

.service p {
  color: var(--black);
  font-family: PT Sans;
}

.advantages {
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--dark-blue);
  margin: 0;
  padding: 50px 0;
  list-style: none;
  box-sizing: border-box;
  position: relative;
  align-self: start;
}

/********** Shadow **************/
.advantages:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 100%;
  top: 5px;
  bottom: 5px;
  width: 24px;
  border-radius: 50%;
  box-shadow: -7px 0 3px 0px hsla(0, 0%, 10%, 0.2);
  /* Что тут с цветом делать??*/
}

/********************************/

.slider-tab {
  box-sizing: border-box;
  display: block;
  padding: 20px 30px;
  color: var(--basic-white);
  text-decoration: none;
  background-color: var(--dark-blue);
  border-top: 1px var(--basic-background) solid;
  border-bottom: 1px var(--hader-top) solid;
}

.slider-tab:hover {
  background-color: var(--hader-top);
}

.slider-content {
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.slider-item {
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  width: 400px;
  min-height: 100%;
  padding: 30px 50px;
  background-color: hsl(204 29% 97%);
  /*ЦВЕТ!!! Нужна ли эта строка?*/
}

.slider-item:target {
  z-index: 10;
}

.info h2 {
  font-size: 30px;
  line-height: 30px;
  color: var(--black);
}


.info ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.info p {
  color: var(--black);
  font-family: PT Sans;
}

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  color: var(--black);
}

.contacts p {
  color: var(--black);
  font-family: PT Sans;
}

.final {
  background-color: var(--basic-background);
}

.final h3 {
  font-size: 30px;
  line-height: 30px;
  color: var(--black);
}

.final p {
  color: var(--black);
  font-family: PT Sans;
}


.main-footer {
  background-color: var(--dark-blue);
}

.footer-nav,
.footer-services {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.footer-nav a {
  color: var(--basic-background);
  transition: all 0.3s;
}

.footer-nav a:hover {
  text-decoration-line: underline;
}

.footer-nav a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-address,
.footer-tel {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-background);
}

.footer-services a {
  color: var(--special-yellowlight);
  transition: all 0.3s;
}

.footer-services a:hover {
  text-decoration-line: underline;
}

.footer-services a:active {
  opacity: 0.5;
  text-decoration: none;
}

.connect-footer {
  background-color: var(--header-top);
}

.connect-footer p {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.social {
  margin: 0;
  padding: 0;
  list-style: none;
}

.gold {
  color: var(--special-yellowlight);
  transition: all 0.3s;
}

.gold:hover {
  text-decoration-line: underline;
}

.gold:active {
  color: var(--basic-red);
  text-decoration: none;
}
