/* Variables */
:root {
  --basic-red: #EE3643;
  --basic-green: #63A63E;
  --basic-grey: #3D546F;
  --basic-greylight: #C5C5C5;
  --basic-background: #F1F5F7;
  --basic-white: #FFFFFF;
  --special-yellow: #FFBF47;
  --special-blue: #3BBCE3;
  --special-lilac: #DC91D8;
  --special-greenlight: #8ED78F;
  --special-yellowlight: #FFD180;
  --success: #5FBB2D;
  --yellow: #FFC047;
  --error: #BA2732;
  --dark-blue: #32425C;
  --header-top: #293449;
  --black: #000000;
  --white-opacity: rgba(255, 255, 255, 0.5);
  --white-opacity-slogan: rgba(255, 255, 255, 0.3);
  --white2: rgba(0, 0, 0, 0.0001);
  --basic-greylight-opacity: rgba(197, 197, 197, 0.3);
  --grey-extra-light: #A9A9A9;
  --grey-extra-light-opacity: rgba(169, 169, 169, 0.3);
  --pinklight: #F9F5F0;
  --dark-green: #518534;
  --light-blue: #F2F6F8;
  --light-grey: #E5E5E5;

  --special: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
}

/* Global */

body {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  background-color: var(--basic-white);
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.page-body {
  min-height: 100%;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-navigation {
  background-color: var(--basic-background);
}

.header-top {
  background-color: var(--header-top);
}

.main-header {
  margin-bottom: 70px;
}

.main-header-logo {
  background-color: var(--basic-red);
  height: 47px;
  width: 220px;
}

.main-header-logo img {
  display: block;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 20px;
}

.user-list {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.user-list a {
  color: inherit;
}

.order {
  background-color: var(--basic-green);
  transition: all 0.3s;
  padding: 9px;
  display: block;
}

.order:hover {
  background-color: var(--success);
}

.order:active {
  color: var(--white-opacity);
  background-color: var(--basic-green);
}

.user-list-link:active {
  color: var(--white-opacity);
  transition: 0.3s;
}

.bookmark {
  background: url(../img/bookmark-icon.svg) no-repeat;
  background-size: 14px, 16px;
  background-position: left center;
  padding: 10px 20px;
  display: block;
}

.about {
  color: var(--basic-red);
  font-size: 16px;
  line-height: 23px;
}

.header-tel {
  color: var(--basic-red);
  font-size: 21px;
  line-height: 30px;
  border: solid 3px var(--basic-white);
  display: block;
  width: 150px;
  padding: 0 10px;
  margin-top: 10px;
}

.header-address {
  font-size: 14px;
  line-height: 24px;
  color: var(--dark-blue);
}

.login-button ul{
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  margin-top: 10px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.login-button a {
  color: inherit;
  padding: 5px;
  margin-bottom: 20px;
  margin-right: 20px;
  text-align: center;
}

.login-button .login-link {
  padding-left: 35px;
}

.login-link {
  background-color: var(--basic-white);
  transition: all 0.3s;
  display: block;
  position: relative;
}

.login-link-svg {
  position: absolute;
  top: 7px;
  left: 8px;
}


.login-link-svg:hover {
  fill: var(--basic-red);
}



/*.login-link::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 17px;
  top: 7px;
  left: 8px;
  background-repeat: no-repeat;
  background-image: url(../img/icon-login.svg);
  background-position: 0 0;
  filter: grayscale(1);
}

.login-link:hover::before {
  fill: var(--basic-grey);
  transition: all 0.3s;
  filter: grayscale(0);


.login-link:active::before {
  filter: grayscale(1);
}
}*/
.login-link:hover {
  color: var(--basic-red);
}

.login-link:active {
  color: var(--basic-greylight);
}

.sign-up {
  background-color: var(--basic-white);
  transition: all 0.3s;
  display: block;
}

.sign-up:hover {
  color: var(--basic-red);
}

.sign-up:active {
  color: var(--basic-greylight);
}

.people {
  font-size: 21px;
  line-height: 21px;
  color: var(--black);
  margin-top: 10px;
  padding: 0;
  list-style: none;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 2;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  position: relative;
}

.people a {
  padding-left: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  text-align: center;
}

.people .user {
padding-left: 30px;
padding-right: 30px;
}

.user {
  background-color: var(--basic-white);
  display: block;
  padding: 5px;
  color: var(--black);
  
}
.user::before {
  content: "";
  position: absolute;
  width: 21px;
  height: 17px;
  top: 7px;
  left: 5px;
  background-repeat: no-repeat;
  background-image: url(../img/icon-user.svg);
  background-position: 0 0;
}

.user::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 17px;
  top: 7px;
  right: 57px;
  background-repeat: no-repeat;
  background-image: url(../img/icon-logout.svg);
  background-position: 0 0;
}

.user:active {
  color: var(--basic-greylight);
  transition: 0.3s;
}

.personal {
  font-size: 16px;
  line-height: 18px;
  color: var(--dark-blue);
  margin: 0;
  padding: 0;
  list-style: none;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  display: flex;
  flex-wrap: wrap;
}

.personal a {
  color: inherit;
  padding: 10px;
  list-style: none;
}

.orders:hover {
  color: var(--basic-red);
  transition: 0.3s;
}

.orders:active {
  color: var(--basic-greylight);
  transition: 0.3s;
}

.account:hover {
  color: var(--basic-red);
  transition: 0.3s;
}

.account:active {
  color: var(--basic-greylight);
  transition: 0.3s;
}

.site-navigation {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  margin: 0;
  margin-bottom: 20px;
  padding: 10px;
  list-style: none;
  background-color: var(--dark-blue);
  transition: all 0.3s;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.site-navigation a {
  color: inherit;
  padding: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.site-navigation-link:nth-child(7) {
  margin-right: 0;
}

.site-navigation-link:hover {
  background-color: var(--header-top);
  transition: 0.3s;
}

.site-navigation-link:active {
  background-color: var(--header-top);
  color: var(--white-opacity);
  transition: 0.3s;
}

.top-catalog {
  background-color: var(--light-blue);
  font-size: 30px;
  line-height: 30px;
  color: var(--dark-blue);
  padding: 10px;
}

.bread-crumbs {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.bread-crumbs a {
  font-size: 13px;
  line-height: 18px;
  color: var(--black);
  padding-left: 5px;
  padding-right: 5px;
}

.slogan-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slogan-list h3 {
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.slogan-item a {
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--white-opacity-slogan);
  transition: 0.3s;
  padding: 10px;
}

.slogan-item a:hover {
  background-color: var(--basic-greylight-opacity);
  color: var(--basic-white);
}

.slogan-item a:active {
  background-color: var(--grey-extra-light-opacity);
  color: var(--basic-white);
}

.slogan-item-spyellow {
  background-color: var(--special-yellow);
}

.materials {
  background-image: url(../img/paint-can-icon.svg);
  background-size: 44px, 65px;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: 90%;
  padding-right: 90px;
}

.slogan-item-blue {
  background-color: var(--special-blue);
}

.tool {
  background-image: url(../img/drill.svg);
  background-size: 75px, 61px;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: 90%;
  padding-right: 110px;
}

.tractor {
  background-image: url(../img/tractor-icon.svg);
  background-size: 78px, 62px;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: 90%;
  padding-right: 110px;
}

.big-cart {
  background-image: url(../img/big-cart-icon.svg);
  background-size: 59px, 72px;
  background-position: 90%;
  padding: 20px;
  background-repeat: no-repeat;
  padding-right: 100px;
  grid-column-start: 3;
  grid-column-end: 4;
}

.car {
  background-image: url(../img/car.svg);
  background-size: 78px, 63px;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: 90%;
  padding-right: 110px;
}

.slogan-item-lilac {
  background-color: var(--special-lilac);
}

.slogan-item-green {
  background-color: var(--special-greenlight);
}

.slogan-item-yellow {
  background-color: var(--yellow);
}

.advantages-slider {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  background-color: hsl(204 29% 97%);
  /* ЦВЕТ И ПРОЗРАЧНОСТЬ!!!*/
}


.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: var(--grey-extra-light);
}

.slider li {
  list-style: none;
}

.man-slider {
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-white);
  padding: 10px;
}

.slider-p {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  padding-left: 10px;
}

.perforator {
  background: url(../img/perforator-slider.jpg);
  height: 266px;
  width: 620px;
  background-repeat: no-repeat;
}

.drill {
  background: url(../img/drill-slider.jpg);
  height: 266px;
  width: 620px;
  background-repeat: no-repeat;
}

.section-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--pinklight);
  margin-top: 20px;
  margin-bottom: 20px;
}

.top {
  color: var(--dark-blue);
  font-size: 30px;
}

.red-button {
  background-color: var(--basic-red);
  font-size: 14px;
  line-height: 18px;
  color: var(--basic-white);
  display: inline-block;
  padding: 11px 46px 9px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.product-list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: PT Sans;
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-gap: 20px;
}

.product-list-inner {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: PT Sans;
  display: grid;
  grid-template-columns: 220px 220px 220px;
  grid-gap: 20px;
}


.new-price {
  background-color: var(--basic-red);
  font-size: 17px;
  line-height: 18px;
  color: var(--basic-white);
  padding: 10px;
}

.product-item h3 {
  font-size: 18px;
  line-height: 20px;
  color: var(--black);
  font-family: PT Sans;
  padding: 0 10px;
}

.price {
  font-size: 17px;
  line-height: 18px;
  color: var(--grey-extra-light);
  padding: 0 10px;
}

.cart {
  background: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-size: 15px, 15px;
  background-position: left center;
  padding: 10px 20px;
  display: block;
}

.add-cart {
  background-color: var(--basic-green);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  transition: all 0.3s;
  padding: 8px 15px;
}

.add-cart:hover {
  background-color: var(--success);
  color: var(--basic-white);
}

.add-cart:active {
  background-color: var(--dark-green);
  color: var(--basic-white);
}

.add-bookmark {
  color: var(--dark-blue);
  font-size: 14px;
  line-height: 18px;
  border: 3px solid;
  border-color: var(--basic-green);
  transition: all 0.3s;
  padding: 5px;
}

.add-bookmark:hover {
  border-color: var(--dark-blue);
}

.add-bookmark:active {
  border-color: var(--dark-blue);
  opacity: 0.5;
}

.brand-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 220px 220px 220px 220px;
  grid-gap: 20px;
}

.brand {
  padding: 10px;
}

.service {
  background-color: var(--basic-background);
}

.service h2 {
  font-size: 30px;
  line-height: 30px;
  color: var(--black);
  padding-top: 10px;
}

.service p {
  color: var(--black);
  font-family: PT Sans;
}

.advantages {
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-white);
  background-color: var(--dark-blue);
  margin: 0;
  padding: 50px 0;
  list-style: none;
  box-sizing: border-box;
  position: relative;
  align-self: start;
}

/********** Shadow **************/
.advantages:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 100%;
  top: 5px;
  bottom: 5px;
  width: 24px;
  border-radius: 50%;
  box-shadow: -7px 0 3px 0px hsla(0, 0%, 10%, 0.2);
  /* Что тут с цветом делать??*/
}

/********************************/

.slider-tab {
  box-sizing: border-box;
  display: block;
  padding: 20px 30px;
  color: var(--basic-white);
  text-decoration: none;
  background-color: var(--dark-blue);
  border-top: 1px var(--basic-background) solid;
  border-bottom: 1px var(--hader-top) solid;
}

.slider-tab:hover {
  background-color: var(--hader-top);
}

.slider-content {
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

.slider-item {
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  width: 400px;
  min-height: 100%;
  padding: 30px 50px;
  background-color: hsl(204 29% 97%);
  /*ЦВЕТ!!! Нужна ли эта строка?*/
}

.slider-item:target {
  z-index: 10;
}

.about {
  display: grid;
  grid-template-columns: 600px 300px;
  grid-gap: 20px;
}

.info {
  padding-bottom: 80px;
}

.info h2 {
  font-size: 30px;
  line-height: 30px;
  color: var(--black);
}


.info ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.info p {
  color: var(--black);
  font-family: PT Sans;
  font-size: 13px;
  line-height: 24px;
}

.contacts h2 {
  font-size: 30px;
  line-height: 30px;
  color: var(--black);
}

.contacts p {
  color: var(--black);
  font-family: PT Sans;
  font-size: 13px;
  line-height: 24px;
}

.final {
  background-color: var(--basic-background);
  padding-bottom: 10px;
  padding-top: 10px;
}

.final h3 {
  font-size: 30px;
  line-height: 30px;
  color: var(--black);
}

.final p {
  color: var(--black);
  font-family: PT Sans;
}

footer {
  background-color: var(--dark-blue);
}

.main-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.footer-nav {
  grid-column-start: 2;
  grid-column-end: 4;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  grid-row: 1/3;
}

.footer-nav li {
  padding-left: 25px;
  padding-right: 25px;
}

.footer-nav,
.footer-services {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 18px;
  line-height: 24px;
}

.footer-nav a {
  color: var(--basic-background);
  transition: all 0.3s;
}

.footer-nav a:hover {
  text-decoration-line: underline;
}

.footer-nav a:active {
  opacity: 0.5;
  text-decoration: none;
}

.footer-address,
.footer-tel {
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-background);
  grid-column-start: 1;
  grid-column-end: 2;
}

.footer-services {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row: 2/3;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-services li {
  padding-left: 25px;
  padding-right: 25px;
}

.footer-services a {
  color: var(--special-yellowlight);
  transition: all 0.3s;
}

.footer-services a:hover {
  text-decoration-line: underline;
}

.footer-services a:active {
  opacity: 0.5;
  text-decoration: none;
}

.second-footer {
  background-color: var(--header-top);
}

.connect-footer {
  color: var(--basic-background);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.feedback {
  grid-column-start: 3;
  grid-column-end: 4;
  display: flex;
  flex-wrap: wrap;
}

.main-footer p {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.social {
  margin-bottom: 0;
  padding: 0;
  list-style: none;
  grid-column-start: 2;
  grid-column-end: 3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.gold {
  color: var(--special-yellowlight);
  transition: all 0.3s;
}

.gold:hover {
  text-decoration-line: underline;
}

.gold:active {
  color: var(--basic-red);
  text-decoration: none;
}

.container {
  width: 940px;
  margin: 0 auto;
  padding: 0 20px;
}

.header-top .container {
  display: grid;
  grid-template-columns: 220px 270px 450px;
}

.slogan-list {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 20px;
}

.slider-li {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 4;
}

.header-info {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 20px;
}

.page-content {
  margin: 0;
  padding: 10px;
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.page-content li {
  padding-left: 5px;
  padding-right: 5px;
  border: solid 2px var(--light-grey);
  margin-right: 5px;
}

.communication {
  padding-right: 10px;
}

.developed {
  padding-left: 10px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}